{% extends "auctions/layout.html" %}
{% load auction_extras %}

{%block title%}
    Categories
{%endblock%}

{%block body%}
<h1>Categories</h1>
<ul class="list-group">
    {%for category, qtd in categories.items%}
        <li class=" list-group-item d-flex justify-content-between align-items-center">
            <a class="list-group-item-action" href="{% url 'category' category%}">{{category}}</a>
            <span class="badge badge-primary badge-pill">{{qtd}}</span>
        </li>
    {%endfor%}
</ul>
{%endblock%}