{% extends 'auctions/layout.html' %}

{% block body %}
    <div>
        <form action="{% url 'new_product' %}" method="POST" enctype="multipart/form-data" >
            {%csrf_token%}
            <div class="form-row" style="align-items:center">
                <div class="col-5">
                    <div class="form-group">
                        <label for="productname">Product Name</label>
                        {{form.product}}
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="price">Price</label>
                        {{form.first_price}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-5">
                    <div class="custom-file">
                        {{form.image}}
                        <label class="custom-file-label" for="image">Choose image</label>
                    </div>
                </div>
                <div class="col-2">
                    {{form.category}}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <button style="margin-top:16px" class="btn btn-outline-secondary" type="submit" id="image">Add Product</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}