body {
    padding: 10px;
}

.card-img-top{
    width: 200px;
    height: 200px;
}

#listing.card-title{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background-color: #f7f7f9;
}
.products{
    display: flex;
}

.listing,
.list-group{
    width: 400px;
}

.section{
    margin: 16px 0 16px 0;
    border: solid #f7f7f9;
    padding: 10px;
}

button{
    margin-top: 5px;
}